/*-- scss:defaults --*/
$primary-color: #6E6295;
$secondary-color: #E04d39;
$tertiary-color: lighten($primary-color, 15%);
$accent-color: #85d2d0;
$theme-white: #fff;
$theme-black: #000;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$font-family-sans-serif: 'Poppins', sans-serif;


$presentation-heading-color: $secondary-color;
$body-color: $primary-color;
$link-color: #3A70B0;
// $selected-text-color: $secondary-color;
$code-color: #245656;
$code-block-bg: $tertiary-color;

/*-- scss:rules --*/

@mixin background-full {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer {
  p {
    color: $secondary-color;
  }
  a {
    color: lighten($link-color, 15%);
  }
  a:hover {
    color: lighten($link-color, 25%);
  }
}

.reveal code {
  background-color: #D9F1F0;
}

.reveal code.sourceCode, .reveal pre code {
  background-color: #2B2B2B !important;
}

.slide-background-content {
  background-color: #fffcfc !important;
}

.reveal pre.sourceCode code {
  max-height: 350px;
}

h1.title {
  font-size: 2em;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #fffcfc; // matches your slide background
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $tertiary-color;
  border-radius: 5px;
  border: 2px solid #fffcfc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($tertiary-color, 10%);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $tertiary-color #fffcfc;
}

.commands-table table {
  font-size: 0.75em;
}
